<div>
  <style>
    .image-size {
      width: 600px;
      height: 350px;
    }
  </style>
</div>
<div >
  <div class="card" style="display:inline-flex;">
    <img src="https://www.cnet.com/a/img/resize/5bbd06264e6ea12a9e269a7c659ff7ae34decb79/hub/2017/07/24/1a64676a-5167-497f-b4ab-3b1c64906ffe/lego-boost-34.jpg?auto=webp&fit=crop&height=900&width=1200" class="card-img-top" alt="..." class="image-size">
    <div class="card-body">
      <h5 class="card-title">"K-Land Robotics Academy"</h5>
      <p class="card-text">A leading destination for
        young minds to explore the exciting world of robotics and
        technology! At our academy, we believe in inspiring and empowering
        the next generation of innovators, problem solvers, and creators.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="display:inline-flex;">
    <img src="https://img.grouponcdn.com/deal/gpz4tqoJCZNYAaNJWe1eA5/Merchant-700x420/v1/t600x362.jpg" class="card-img-top" alt="..." class="image-size">
    <div class="card-body">
      <h5 class="card-title">"Exploring Robotics: Nurturing Young Minds in a Dynamic and Immersive Learning Environment"</h5>
      <p class="card-text">  Provide a dynamic and immersive learning environment where children
        between the ages of 6 and 14 can discover the wonders of robotics.
        We offer a comprehensive curriculum that combines hands-on
        experiences, interactive projects, and engaging educational content
        to foster creativity, critical thinking, and collaboration.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

<div class="card" style="display:inline-flex;">
  <img src="./assets/bck.jpg" class="card-img-top" alt="..." class="image-size">
  <div class="card-body">
    <h5 class="card-title">"Empowering Individual Growth: A Progressive Learning Journey in Robotics for Every Student"</h5>
    <p class="card-text">We understand that each
      student is unique. That's why we offer multiple levels within each
      age group, allowing children to progress at their own pace and
      continually challenge themselves. From our beginner levels, where
      students grasp the fundamentals of robotics, to our advanced levels,
      where they dive into complex programming and robotics engineering,
      we offer a progression of knowledge and skills that encourages
      growth and exploration.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>